NEXT_PUBLIC_SUPABASE_URL=https://vuwjeloflhorbxhiyfob.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1d2plbG9mbGhvcmJ4aGl5Zm9iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5Njc2NDEsImV4cCI6MjA5NTU0MzY0MX0.qCah6bl1PUssmS-FZ91TUgse7NmVZJxu6CJirY_01WU
GROQ_API_KEY=your_groq_api_key_here
